*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#imagen{
    width: 350px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
}

#imagen img{
    width: 500px;
    height: 100%px;
    transition: 3s;
}

#imagen img:hover{
    transform: translateX(-30%);
    filter: brightness(80%);
}